body {
    width: 960px;
    text-align: center;
    margin: 0 auto;
    background-image: url('../images/griffon.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.board {
    height: 70%;
    padding: 50px 0px 30px 0px;
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid whitesmoke;
    cursor: pointer;
}

#button {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid black;
    margin: auto;
    border-radius: 4px;
}

div .player1 {
    float: left;
    width: 40%;
}

div .player2 {
    float: right;
    width: 40%;
}

h1 {
    color: yellow;
    -webkit-text-stroke: 1px black;

    animation: swing;
    animation-duration: 2s;
}

div #player1-score {
    color: whitesmoke;
    font-size: 50px;
}

div #player2-score {
    color: whitesmoke;
    font-size: 50px;  
}

.player2 h1 {
    color: yellow;
    -webkit-text-stroke: 1px blue;

    animation: lightSpeedInRight; /* Makes the player2 come in from the right */
    animation-duration: 2s;    
}

.player1 h1 {
    color: red;
    -webkit-text-stroke: 1px black;  
    
    animation: lightSpeedInLeft; /* Makes the player2 come in from the left */
    animation-duration: 2s;
}

.horde {
    background-image: url('../images/Horde_Crest.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.alliance {
    background-image: url('../images/Alliance.ico');
    background-size: contain;
    background-repeat: no-repeat;
}

.flip {
    animation: flip;
    animation-duration: 2s;
}

div {
    display: block;
}