:root {
    --cell-size: 100px;
}

body {
    width: 960px;
    text-align: center;
    margin: 0 auto;
    background-image: url('../images/dalaran.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.board {
    height: 70%;
    padding: 50px 0px 30px 0px;
    display: inline-grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#button {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid black;
    margin: auto;
    border-radius: 4px;
}

div .player1 {
    float: left;
    width: 40%;
}

div .player2 {
    float: right;
    width: 40%;
}

h1 {
    color: yellow;
    -webkit-text-stroke: 1px black;
}

p {
    color: whitesmoke;
    font-size: 50px;
    display: contents;
}

.horde {
    background-image: url('../images/Horde.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
}

.alliance {
    background-image: url('../images/Alliance.ico');
    background-size: contain;
    background-repeat: no-repeat;
}